@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

$headingFont: 'Lato', sans-serif;
$bodyFont: 'Raleway', sans-serif;

$backgroundColor: #161516;
$midColor: #272727;
$lightColor: #F7F5F7;
$accentColor: #D5D4D5;
$darkCta: #161516;
$lightCta: #F7F5F7;